body{
	font-family: helvetica;
	margin: 0;
}

#headerFoto{
	width: 100%;

}

header{
	position: relative;
}

h2{
	position: absolute;
	bottom: 30px;
	left: 100px;
	color: white;
}

#headerTitel{
	position: absolute;
	bottom: 125px;
	left: 100px;
	color: white;
	font-size: 45px;
	font-weight: bold;
	text-decoration: none;
}

h3, h4{
	margin-left: 100px;
}

p{
	margin-left: 100px;
	max-width: 700px;
}

.foto1{
	width: 20%;
	margin-left: 100px;
	margin-top: 15px;
}
#foto2{
	margin-left: 100px;
	margin-top: 15px;
	width: 50%;
	margin-bottom: 50px;
}

a{
	color: black;
}

main{
	margin-bottom: 100px;
}









